<%= render('partials/header', path: '/mission') %>


<div class="splash-bg"
     style="background-image: url(<%= image_path('new-zealand/queenstown.jpg') %>);">

  <div class="splash-bg-overlay">

    <div class="container">
      <div class="centered-container">
        <p><span>New Zealand needs more people like YOU!</span></p>
        <p><span>We want to help you getting started in business</span></p>
        <p><span>by finding the answers to the questions that are holding you back.</span></p>

        <img src="<%= image_path('banksy-quote.jpg') %>" alt="Banksy art">
        <p><span>"You're never too young to dream big" - Banksy</span></p>
    </div>
  </div>
</div>
