<%= render('partials/header', path: '/mission') %>


<div class="splash-bg"
     style="background-image: url(<%= image_path('new-zealand/queenstown.jpg') %>);">

  <div class="splash-bg-overlay">

    <div class="container">
      <div class="centered-container">
        <p><span>New Zealand needs more people like YOU!</span></p>
        <p><span>We want to help you get started in business</span></p>
        <p><span>by finding the answers to the questions that are holding you back.</span></p>

        <img height="296"
             width="300"
             src="<%= image_path('banksy-quote.jpg') %>"
             alt="Banksy art">
        <p><span>"You're never too young to dream big" - Banksy</span></p>

        <p class="footnote">
          <span>
            <strong>Brought to you by the team at
            <strong><a href="http://www.kohorts.co/">Kohorts.co</a></strong>
          </span>
        </p>
    </div>
  </div>
</div>
